.article-view-card {
  display: flex;
  margin-top: 20px;
  color: var(--text);
  margin-right: 20px;
  margin-left: 20px;
  background-color: var(--bg-secondary);
  height: 100vh;
  position: relative;
  display: flex;
  height: auto;
  min-height: 50px;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.article-link {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 50px;
  color: var(--text);
  border-left-width: 0px;
  border-right-width: 0px;
  background-color: var(--bg-secondary);
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap;
}
.article-preview {
  display: flex;
  height: auto;
  min-height: 50px;
  text-align: justify;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  align-items: left;
}

.article-button:hover {
  background: var(--highlighted);
}
.article-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text-gray);
  fill: var(--text-gray);
}

.article-view-title {
  display: block;
  flex-wrap: nowrap;
}
.article-view-details {
  display: block;
  text-align: left;

  width: 100%;
}

.article-details {
  color: var(--text-gray);
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  font-size: 0.8rem;
  font-weight: 400;
  width: fit-content;
}

.article-delete {
  color: var(--text-gray);
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  font-size: 0.8rem;
  font-weight: 400;
  width: fit-content;
  float: right;
}
.article-author {
  color: var(--red);
  font-size: 0.8rem;
}

.article-delete-button {
  display: inline-block;
}

.collapsible {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--bg-secondary);
}

h4 {
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
}

h5 {
  color: var(--text);
  font-size: 12px;
  font-weight: 700;
}

.article-body {
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
  text-align: left;
}

@media (min-width: 768px) {
  .article-view-card {
    margin-right: 40px;
    margin-left: 40px;
  }
}
