.arts-buttons {
  display: flex;
}

.voting-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  max-height: 32px;
  max-width: 100px;
  min-width: 100px;
  color: var(--text-gray);
  border-radius: 16px;
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-dark);
}

.comment-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  max-height: 32px;
  max-width: 100px;
  color: var(--text-gray);
  border-radius: 16px;
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-dark);
}

.comment-count {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 12px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.arts-votes {
  display: flex;
  flex-direction: row;
  min-width: 90px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
  background-color: var(--bg-dark);
  border-left: 1px solid var(--bg-dark);
  border-right: 1px solid var(--border-dark);
}

.arts-card {
  display: flex;
  position: relative;
  text-justify: justify;
  background-color: var(--bg-mobile);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;
}

.arts-list {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  color: var(--text);
  background-color: var(--bg-mobile-secondary);
}

.arts-link {
  display: flex;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  color: var(--text);
  width: 100%;
  border-left-width: 0px;
  border-right-width: 0px;
  background-color: var(--bg-mobile);
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin-left: 10px;
}

.arts-title {
  display: flex;
  flex-wrap: wrap;
}

.arts-details {
  color: var(--text-gray);
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  font-size: 0.8rem;
  font-weight: 400;
}

.arts-author {
  color: var(--red);
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .arts-list {
    padding-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: var(--bg-secondary);
  }
  .arts-link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 5px;
    background-color: var(--bg-secondary);
  }
  .arts-card {
    margin-bottom: 0px;
    background-color: var(--bg-secondary);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border: 1px solid var(--bg-dark);
  }
  .arts-card:hover {
    border-color: var(--border);
  }
}
