.loading-screen {
  position: absolute;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 50px;
  display: flex;
  z-index: 999;
  background-color: var(--bg-primary);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.loading-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  fill: var(--red);
  margin-bottom: 5px;
}

.spinner {
  width: 48px;
  height: 48px;
  margin-top: 15px;
  border: 5px solid rgb(255, 255, 255);
  border-bottom-color: var(--logo-red);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
