header {
  display: flex;
  height: 50px;
  background-color: var(--nav-mobile);
  justify-content: space-between;
  flex-grow: 1;
}

.header-container {
  width: 100%;
  display: flex;
  height: 50px;
  z-index: 1;
  align-items: center;
  margin-inline-start: 0.75rem;
}

.header {
  display: flex;
  margin-inline-end: 1rem;
  color: var(--text);
  align-items: center;
  text-decoration: none;
}

.flex-end {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}

.title {
  display: none;
  color: rgb(255, 255, 255);
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  fill: var(--red);
}

h1 {
  margin: 0;
  line-height: 1.75rem;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 600;
  align-self: center;
}

nav {
  display: none;
}

.new-article {
  max-width: 100%;
  border: solid;
  border-color: var(--button-blue);
  background-color: var(--button-blue);
  color: rgb(255, 255, 255);
  height: auto;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -0.1rem;
  margin-right: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  border-radius: 9999px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-width: 1px;
  font-weight: 700;
}

.new-article:hover {
  background-color: var(--fg-secondary);
}

@media (min-width: 992px) {
  .title {
    color: var(--text);
  }
  .new-article {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: var(--fg-primary);
    background-color: var(--fg-primary);
    color: var(--bg-secondary);
  }
}

.nav-search {
  display: none;
}

@media only screen and (min-width: 480px) {
  .title {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  header {
    display: block;
    height: 50px;
    background-color: var(--bg-secondary);
  }
}

@media (min-width: 992px) {
  header {
    background-color: var(--bg-secondary);
  }
}

@media only screen and (min-width: 1024px) {
  .nav-search {
    margin-left: auto;
    display: inherit;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    display: flex;
    width: 100%;
    height: 36px;
    max-height: 36px;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
  }
  .header-container {
    width: auto;
  }
}

@media (max-width: 639px) {
  .container {
    justify-content: flex-end;
  }
  .name {
    position: absolute;
    left: 0;
    margin-inline-start: 0.95rem;
  }
}

@media (max-width: 1024px) {
  /* .new-article {
    display: none;
  } */
}
