.user-button-container {
  display: flex;
  height: 38px;
  text-align: left;
}

.user-button {
  display: flex;
  width: 210px;
  border: 1px solid var(--bg-secondary);
  color: var(--text);
  line-height: 1.25rem;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--bg-secondary);
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.25rem;
}

.user-button:hover {
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}

.bordered {
  border-color: var(--border);
}

@media (max-width: 1024px) {
  .user-button {
    display: flex;
    width: 100%;
    border: 1px solid white;
    color: #374151;
    line-height: 1.25rem;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    background-color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    justify-content: center;
    border-radius: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .user-chevron2 {
    width: 1rem;
    height: 1rem;
    margin-left: 9.5rem;
    margin-right: -0.25rem;
    margin-top: 0.1rem;
  }
}

.user-chevron2 {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  margin-top: 0.3rem;
}
.user-name {
  display: flex;
  line-height: 0.4rem;
  text-align: left;
}
.user-name2 {
  display: flex;
  color: var(--text-gray);
  margin-top: 4px;
  text-align: left;
  font-weight: 200;
}
.rating-icon {
  height: 15px;
  margin-top: 2px;
  margin-right: 2px;
  fill: var(--yellow);
}

@media (max-width: 1023px) {
  .menu-icon {
    display: flex;
  }
  .user-icon {
    display: none;
    color: black;
  }
  .username {
    display: none;
  }
  .user-chevron {
    display: none;
  }
}

@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
  .user-dropdown-button {
    display: flex;
    border: solid;
    color: #374151;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff;
    font-size: 0.875rem;
    font-weight: 700;
    justify-content: left;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: white;
    padding-right: 40px;
  }
}

.user {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  /* color: var(--user);
  fill: var(--user);
  border-radius: 5px;
  background-color: var(--user-background); */
}
.user-background {
  display: flex;
  width: fit-content;
  height: 100%;
  padding: 2px;
  color: var(--user);
  justify-content: center;
  margin-right: 0.5rem;
  fill: var(--user);
  border-radius: 5px;
  background-color: var(--user-background);
}
