.vote {
  display: flex;
  width: 20px;
  height: 20px;
  color: var(--text-gray);
  cursor: pointer;
}

.upvote:hover {
  color: var(--text-gray);
}
.upvote-clicked {
  color: green;
}

.downvote:hover {
  color: var(--text-gray);
}
.downvote-clicked {
  color: red;
}

.vote-count {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 12px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
  align-self: center;
}

@media (min-width: 1024px) {
  .upvote:hover,
  .upvote-clicked {
    color: green;
  }

  .downvote:hover,
  .downvote-clicked {
    color: red;
  }
}

@media (min-width: 992) {
  .vote {
    width: 25px;
    height: 25px;
  }
}
