.vote {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  color: var(--text-gray);
  cursor: pointer;
}

.upvote:hover {
  color: var(--text-gray);
}
.upvote-clicked {
  color: green;
}

.downvote:hover {
  color: var(--text-gray);
}
.downvote-clicked {
  color: red;
}

.vote-count {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 1024px) {
  .upvote:hover,
  .upvote-clicked {
    color: green;
  }

  .downvote:hover,
  .downvote-clicked {
    color: red;
  }
}

@media (min-width: 480px) {
  .vote {
    width: 1.6rem;
    height: 1.6rem;
  }
}
