.container {
  padding-top: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.comment-box {
  resize: none;
  overflow: hidden;
  width: 60%;
  height: 8rem;
  border-radius: 1rem;
  border-width: 1px;
  outline: none;
  overflow: auto;
  padding: 0.6rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
}

.form {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.invalid {
  @apply border-red-500;
}
