.comment-list-container {
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

.comments-card {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  max-width: 100%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.comment-container {
  padding-top: 1.25rem;
  padding-left: 1.2rem;
}

.comment-author {
  display: block;
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  cursor: default;
}

.comment-date {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.125;
  cursor: default;
  display: inline-block;
}

.comment-body {
  font-size: 0.5;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-left: 0.5rem;
  justify-content: flex-end;
  cursor: default;
}

.comment-buttons-container {
  position: relative;
  padding-top: 0.75rem;
  margin-left: 0.75rem;
}

.comment-upvote {
  @apply hover:text-green-500;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.comment-upvote-clicked {
  @apply text-green-500;
}

.comment-downvote {
  @apply hover:text-red-500;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.comment-downvote-clicked {
  @apply text-red-500;
}

.comment-votes {
  @apply text-slate-500;
  cursor: default;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.comment-trash-icon {
  @apply hover:text-red-500;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  position: absolute;
}
