:root {
  --logo-red: rgb(217 61 43);
  --red: rgb(204 62 44);
  --yellow: rgb(250 204 21);
  --switch-blue: rgb(77 159 234);
}

[data-theme="light"] {
  --arts-card: rgb(248, 249, 250);
  --author: rgb(217 61 43);
  --bg-primary: rgb(215 220 226);
  --bg-secondary: rgb(255 255 255);
  --bg-dark: rgb(248, 249, 250);
  --fg-primary: rgb(51 121 207);
  --fg-secondary: rgb(67 132 211);
  --border: rgb(204 204 204);
  --border-secondary: rgb(137 137 137);
  --border-dark: rgb(238, 239, 241);
  --gray: rgb(246 247 248);
  --highlighted: rgb(245 245 245);
  --pagination: rgb(164, 165, 166);
  --search-border: rgb(51 121 207);
  --switch-off: rgb(232 232 232);
  --switch-on: rgb(77 159 234);
  --text: rgb(28 28 28);
  --text-lightgray: rgb(206, 207, 209);
  --text-gray: rgb(126 126 126);
  --user: rgb(255, 255, 255);
  --user-background: rgb(209 213 219);
}

[data-theme="dark"] {
  --arts-card: rgb(21, 21, 22);
  --author: rgb(126, 127, 128);
  --bg-primary: rgb(3 3 3);
  --bg-secondary: rgb(26 26 27);
  --bg-dark: rgb(22, 22, 23);
  --fg-primary: rgb(216 218 220);
  --fg-secondary: rgb(201 203 205);
  --border: rgb(52 53 54);
  --border-secondary: rgb(130, 131, 132);
  --border-dark: rgb(52, 52, 53);
  --gray: rgb(39 39 41);
  --highlighted: rgb(35 35 36);
  --pagination: rgb(39 39 41);
  --search-border: rgb(216 218 220);
  --switch-off: rgb(232 232 232);
  --switch-on: rgb(03 121 211);
  --text: rgb(216 218 220);
  --text-gray: rgb(110 110 110);
  --user: rgb(255, 255, 255);
  --user-background: rgb(39 39 41);
}

html {
  transition: all 1s ease-out;
  scroll-behavior: smooth;
}

.fixed {
  position: relative;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
}

h2 {
  line-height: 1.25rem;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 3px;
  letter-spacing: 0px;
}

h3 {
  color: var(--text);
  font-size: 12px;
  font-weight: 700;
}

p {
  line-height: 1.25rem;
  font-size: 0.875rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--bg-primary);
  overflow: auto;
  height: 100vh;
  z-index: -1;
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: theme(
    "fontFamily.sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  ); /* 4 */
}

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: theme(
    "fontFamily.mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace
  ); /* 1 */
  font-size: 1em; /* 2 */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: var(--text); /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: theme("colors.gray.400", #9ca3af); /* 2 */
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
